<ion-header>
  <ion-navbar>
    <ion-title>
      My I-assurance Bar
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let assurance of assuranceData">
     <ion-card>
       <img [src]="assurance.imgPath" alt="">
       <ion-card-content>
         <ion-card-title>
           {{assurance.nom}}
         </ion-card-title>
         <a [href]="assurance.lien">{{assurance.lien}}</a>
         <ion-row>
           <ion-col>
             <button ion-button icon-start clear small (tap)="onDetails(assurance)">
               <ion-icon name="eye"></ion-icon>
               <div>Détails</div>
             </button>
           </ion-col>
         </ion-row>
       </ion-card-content>

     </ion-card>

    </ion-item>
  </ion-list>
</ion-content>
