<!--
  Generated template for the DetailsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Détails</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div id="panel-info" *ngIf="nom && lien">
    <p>Assurance: {{nom}}</p>
    <p>Lien vers le site: {{lien}}</p>
  </div>

</ion-content>
